<div id="<%= dom_id author %>">
  <p>
    <strong>Nom:</strong>
    <%= author.nom %>
  </p>

  <p>
    <strong>Date naissance:</strong>
    <%= author.date_naissance %>
  </p>

  <p>
    <strong>Pays:</strong>
    <%= author.pays %>
  </p>

</div>
